<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="wrap">
    <div class="tac">
        <h2>루리웹 / 뽐뿌 핫딜 핫딜!!!</h2>
    </div>
    <div>
        <div>루리웹</div>
        <div>뽐뿌</div>
    </div>
    <div id="list_sector">

    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>

    $(function () {
        ruriwebDataCall();
    });

    function ruriwebDataCall() {
        $.ajax({
            type: 'post',
            url: "/ruriwebDataCall",
            error: onError,
            success: onSuccess

        });
    }

    function onError(resultData) {
        console.log(resultData);
    }

    function onSuccess(resultData) {
        $('#list_sector').html('');
        $(resultData.ruriweb).each(function () {
            $('#list_sector').append("<button><span class=\"webname\">루리웹</span><br><span class=\"subject\">" + this.subject + "</span></button>")
        })


    }


</script>

</body>
</html>